@import "colors";
@import "sizes";
@import "breakpoints";

.container {
  padding: 80px 104px;
}

.input {
  display: flex;
  width: 400px;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: $turnex-spacing-14;
  gap: $turnex-spacing-8;
  border-radius: $turnex-spacing-8;
  border: 1px solid $turnex-alabaster-300;
  background: $turnex-alabaster-50;

  &__label {
    color: $turnex-alabaster-900;
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: $turnex-spacing-20;
  }

  &__error {
    width: 400px;
    display: flex;
    justify-content: flex-start;
    color: $turnex-secondary-700;
    text-align: center;
    font-family: Rubik;
    font-size: $turnex-spacing-16;
    font-style: normal;
    font-weight: 500;
    line-height: $turnex-spacing-24;
  }
}

.checkbox {
  display: flex;
  align-items: flex-start;
  flex-direction: column;  
  &__box {
    display: flex;
    margin-bottom: $turnex-spacing-10;
    gap: $turnex-spacing-8;
  }

  &__label {
    color: $turnex-alabaster-900;
    font-family: Rubik;
    font-size: $turnex-spacing-14;
    font-style: normal;
    font-weight: 500;
    line-height: $turnex-spacing-20;
  }
}

@media (max-width: $turnex-breakpoint-xs) {

  .container {
    padding: 0px;
  }

}